html, body {width:100%;height:100%;}

#container { width:100%;  height:100%; font-size:16px;}

    #Query { background-color:#FFD700; height:30%; width:24%; float:left; }

        #query-chart { background: white; width: 100%; height: 90%; }

            /*.dygraph-axis-label.dygraph-axis-label-y { height: 1px; width:1px; }*/

        /*#Query img { border:0px; height:90%; width:100%; }*/

    #full { position:absolute; display:none; height:200px; width:300px; background-color:white; }

        /*#full img { height:200px; width:300px; }*/

    #five-levels { background-color:#EEEEEE; height:30%; width:76%; float:left; }

        #five-levels > div { text-align: center; float:left; width: 19.8%; height: 75%; }

            #five-levels > div > div { border-radius: 10px; width: 94%; height: 100%; padding: 1px; border: 2px solid #73AD21; margin: 1px; overflow:scroll; }

                /*#five-levels > div > div > div { border:0px; margin: 1px; padding: 1px; float: left; }*/
                #five-levels > div > div > div { float: left; margin: 1px; }

    #DataCollection { background-color:#a9b6ff; height:45%; width:100%; overflow:scroll; }

        /*#DataCollection div { border:0; height:100px; width:150px; margin: 2px; padding: 1px; float: left; background-color: white;}*/
        #DataCollection > div { display:block; border:0px; height:100px; width:150px; margin: 2px; padding: 0px; float: left; background-color: white;}

    #Questions { background-color:#fff1dc; width:100%; display:none;font-size:17px;}

        #other-text { display:none; }

        textarea { font-size: 17px; }

#freeze, #submit{
    background-color: white;
    color: black;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border: 2px solid rgba(59, 59, 59, 0.89);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#freeze:hover, #submit:hover{
    background-color: #5c56ff;
    color: white;
    border: 2px solid #5c56ff;
}

